@model UniversityBase.Models.Group

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdvanceSearch</title>
</head>
<body>
   
        <label>Age</label>
        <input type="number" name="Age" id="Age" />
        <label>Course</label>
        <input type="number" name="Course" id="Course" />

</body>
</html>
