
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Master_Layout.cshtml";
}

<p class="IndexAbout" style="text-align:center;" >Hello! This is Colorado Student Database </p>
<p>In this computer program I used LINQ, one to many relations, SQL, Editor Templates</p>



