
@{
    ViewBag.Title = "Mark";
    Layout = "~/Views/Master_Layout.cshtml";
}

<p style="text-align:right;">@Ajax.ActionLink("Add  new marks", "AddNewMarkStudent", "Edit", new AjaxOptions { UpdateTargetId = "AddMarks" })</p>

<div id="AddMarks"></div>
<hr />


