@model UniversityBase.Models.Student
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Master_Layout.cshtml";
}
<style>
    a {
        text-decoration: none;
    }
</style>


<p style="text-align:right;">@Ajax.ActionLink("Add  new student", "AddNewStudent", "Edit", new AjaxOptions { UpdateTargetId = "AddStudent" })</p>

<div id="AddStudent"></div>

