
body {
    background-color: #1986B1;
}

#Design {
    padding-left: 10%;
    padding-right: 5%;
}

h1 {
    color: white;
}

div .MenuItem {
    font-size: 30px;
    background-color: azure;
    padding: 10px;
    text-decoration: none;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
}

#menu {
    padding-bottom: 20px;
    text-align: center;
}

#TextList {
    background-color: white;
    padding:10px;
}

.IndexAbout{
    font-size:40px;
}


